:root {
    --nav: #F9Bf62;
    --main: #A4C794;
    --background: #FEF0D2;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Croissant One', cursive;
    /* border: 2px solid red; */

}

.reveal-container {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(#F9Bf62, #f9bf62ab);
    bottom: 100vh;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: ease-in .9s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 2vh solid orange;
    gap: 15px;

}

.reveal-text {
    font-size: 4rem;
    user-select: none;
}

.info-container {
    width: 20vw;
}

.info-container {
    display: flex;
    align-items: center;
    gap: 15px;
}
.r-text {

}

.r-icon {
    max-width: 50px;
}

.ig-icon {
    max-width: 70px;
    margin-left: -13px;
}

.close {
    position:absolute;
    bottom: 3vh;
    padding: 15px;
    font-size: 1.4rem;
    width: 15vw;
    border-radius: 16px;
}



.outer-container {
    /* border: 2px solid black; */
    position: absolute;
    margin: 20px;
    padding: 20px;
    bottom: 3vh;
    right: 14vw;
    height: 7%;
    width: 65%;
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}   

.nav {
    background-color: var(--background);
    flex: .08;
    /* border-bottom: solid #7447009b 6px; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}



.logo { 
    position: absolute;
    top: 1vh;
    left: 1vh;
    width: 13vw;
    height: 13vw;
    transition: .11s;
    /* flex: 1; */
}

.logo:hover {
    transform: scale(1.1);
}

.logo:active {
    transform:scale(.95);
}

.title {
    font-size: 3rem;
    color: #424242;
    margin-left: 4%;
    user-select: none;
    transition: .14s;
    margin-right: 20%;
}

.title:hover {
    transform: scale(1.05);
}

.chatbox {
    background-color: var(--background);
    flex: .8;
    display: flex;
    flex-direction: column;
    /* border: red solid 2px; */
}

.sidebar {
    flex: .2;
    background-color: #FEF0D2;
    /* border:2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.img {
    /* border: 2px solid red; */
    transform:scale(1.05);
    margin-right: 15px;
    /* flex: 1; */
}
img:hover {
    transform:scale(1.2);
}

img:active {
    transform:scale(1);
}

.main {
    background-color: var(--main);
    flex: .92;
    display:flex;
    justify-content: center;
    align-items: start;
    /* flex-direction: column; */
}

.inner {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
}

.text-input {
    position: relative;
    /*
    margin: 20px;
    padding: 20px;
    bottom: 3vh;
    right: 5vw;
    height: 7%;
    width: 65%; */
    padding: 20px;
    flex: 3;
    border-radius: 10px;
    height: 40px;
    outline: none;
    border: none;
    background-color: #F4F4F4;
    border: 2px solid #424242;
    transition: .14s;
}

.input-container {
    display:flex;
    position: absolute;
    margin: 20px;
    padding: 20px;
    bottom: 1vh;
    right: 14vw;
    height: 7%;
    width: 65%;
}

.reveal-button {
    position:absolute;
    right: 2vw;
    width: max-content;
    height: 70%;
    bottom: 1.2vh;
    border-radius: 8px;
    font-size: 1.5rem;
}

.input-buttons {
    width: 12%;
}
.btns {
    position: absolute;
    right:40px;
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 5px;
}

.input-container:hover {
    transition: .14s;
    transform: scale(1.03)
}

.text-input:hover {
    transform:scale(1.03);
}

.messages {
    display:flex;
    flex-direction: column;
}

.messages > .message {
    transform:scale(1);
    margin: 20px;
    margin-left: 25px;
    margin-top: 22px;
    padding: 20px;
    width: max-content;
    background-color: #F9Bf62;
    /* border: 2px solid #F4F4F4; */
    border-radius: 8px;
    transition: .2s;
}


.messages > .reply {
    transform:scale(1);
    justify-self: flex-end;
    margin: 20px;
    margin-left: auto;
    margin-top: 25px;
    padding: 20px;
    width: max-content;
    background-color: #A4C794;
    border-radius: 16px;
    transition: .2s;
}

.shrink {
    transform:scale(0);
    transition: .15s;
}

.revealed {
    bottom: 20vh;

}
/* .footer {
    flex: .1;
} */